<h1>Listing links</h1>

<ul>
	<% @links.each do |link| %>
	<li><a href="<%= link.url %>" target="self"><%= link.title %></a><small> - <% if user_signed_in? %> <%= link_to 'Consulter', link %> | <%= link_to 'Éditer', edit_link_path(link) %> | <%= link_to 'Supprimer', link, method: :delete, data: { confirm: 'Are you sure?' } %> <% end %></small></li>
	<% end %>
</ul>
